# Dependencies
node_modules

# Build output
dist

# Environment variables
.env*
!.env*.example

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log

# Code coverage
coverage

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
